<!DOCTYPE html>
<html>

<head>

  <meta http-equiv="Content-Type" content="text-html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <title>Home Page for www.reglog.apu</title>

  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

  <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#index_login").click(function() {
          window.location.href = "{% url "login:index" %}"
      });
      $("#index_registration").click(function() {
          window.location.href = "{% url "register:index" %}"
      });
    });
  </script>

</head>

<body>

<div id="index_main_div">
  <div id="index_login">
      <a href="{% url "login:index" %}">Login</a>
  </div>
  <div id="index_registration">
      <a href="{% url "register:index" %}">Registration</a>
  </div>
</div>

</body>

</html>
