{% extends 'form_base.html' %}

{% block title %}Login Form{% endblock %}

{% block focus %}
<script type="text/javascript">
  function focus_first_element() {
    document.getElementById('{{ form.username.auto_id }}').focus();
  }
</script>
{% endblock %}

{% block header %}
<div id="header_{{ formname|lower }}">
  <h2>{{ formname }} Form</h2>
</div>
{% endblock %}

{% comment %}
{% block er %}
{% if form.errors %}
  <p style="color: red;">
  Please correct the error{{ form.errors|pluralize }} bellow.
  </p>
{% endif %}
{% endblock %}
{% endcomment %}

{% block form %}

{% comment %}
      {% if form.errors %}
        <div class="error_div">
          {# {{ form.non_field_errors }} #}
          {% if form.username.errors %}
          {{ form.username.errors }}
          {% endif %}
          {% if form.password.errors %}
            {{ form.password.errors }}
          {% endif %}
        </div>
      {% endif %}
{% endcomment %}

      <tr>
        <td>{{ form.username.label }}</td>
        <td width="10px">
          {%if form.username.errors %}
            <span class="error">!</span>
          {% else %}
            *
          {% endif %}
        </td>
        <td>{{ form.username }}</td>
        {% if form.username.errors %}
        <td nowrap>{{ form.username.errors }}</td>
        {% endif %}
      </tr>
      <tr>
        <td>{{ form.password.label }}</td>
        <td width="10px">
          {%if form.password.errors %}
            <span class="error">!</span>
          {% else %}
            *
          {% endif %}
        </td>
        <td>{{ form.password }}</td>
      </tr>
      <td>
        <a href="{% url 'register:index' %}">Not Registered?</a>
          <br />
          <a href="{% url 'login:password_reset' %}">Forgot a password?</a>
          <br />
          <a href="{% url 'home:index' %}"><span style="color:#006600; font-size:1.8em;">home</span></a>
        </td>
        <td width="10px"></td>
        <td><input type="submit" id="submit" value="Login" /></td>
      </tr>
{% endblock form %}
