<!DOCTYPE html>
<html>

<head>

  <meta http-equiv="Content-Type" content="text-html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <title>Password Changed Successfully</title>

  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

  <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>

<body>

<div id="header_li_lo_rs">
  <h2>Password Changed Successfully!</h2>
</div>
  <div id="main_li_lo_rs_div">
    <table id="li_lo_rs_table">
      <tr>
        <td><p>Your password has been changed successfully!</p></td>
      </tr>
      <tr>
        <td><p>Now you can mess around after login.</p></td>
      </tr>
      <tr>
          <td><a href="{% url 'login:index' %}">Login</a></td>
      </tr>
      <tr>
        <td>Or just go 
            <a href="{% url 'home:index' %}"><span style="color:#006600; font-size:1.8em;">home</span></a>
        </td>
      </tr>
    </table>
  </div>

</body>

</html>
