{% extends 'form_base.html' %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block focus %}
<script type="text/javascript">
  function focus_first_element() {
    document.getElementById('{{ form.new_password1.auto_id }}').focus();
  };
</script>
{% endblock %}

{% block header %}
<div id="header_{{ form.formname2 }}">
  <h2>{{ form.formname }}</h2>
</div>
{% endblock %}

{% block form %}

      {% if form.errors %}
        <div class="error_div">
          {# {{ form.non_field_errors }} #}
          {% if from.new_password1.errors %}
            {{ form.new_password1.errors }}
          {% endif %}
          {% if from.new_password2.errors %}
            {{ form.new_password2.errors }}
          {% endif %}
        </div>
      {% endif %}

      <tr>
        <td>{{ form.new_password1.label }}</td>
        <td width="10px">
          {% if form.new_password1.errors %}
            <span class="error">!</span>
          {% else %}
            *
          {% endif %}
        </td>
        <td>{{ form.new_password1 }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password2.label }}</td>
        <td width="10px">
          {% if form.new_password2.errors %}
            <span class="error">!</span>
          {% else %}
            *
          {% endif %}
        </td>
        <td>{{ form.new_password2 }}</td>
      </tr>
        <td>
            <a href="{% url 'home:index' %}"><span style="color:#006600; font-size:1.8em;">home</span></a>
        </td>
        <td width="10px"></td>
        <td><input type="submit" id="submit" value="Submit" /></td>
      </tr>
{% endblock form %}
