{% extends 'form_base.html' %}

{% block title %}{{ form.formname }}{% endblock %}

{% block focus %}
<script type="text/javascript">
  function focus_first_element() {
    document.getElementById('{{ form.email.auto_id }}').focus();
  };
</script>
{% endblock %}

{% block header %}
<div id="header_{{ form.formname2 }}">
  <h2>{{ form.formname }}</h2>
</div>
{% endblock %}

{% block form %}

      {% if form.errors %}
        <div class="error_div">
          {# {{ form.non_field_errors }} #}
          {% if from.email.errors %}
            {{ form.email.errors }}
          {% endif %}
        </div>
      {% endif %}

      <tr>
        <td colspan="3">Type your valid email address in the field bellow, that we can send you email with a link wich will redirect you to a form where you can reset your password.</td>
      </tr>
      <td></td>
      <tr>
        <td>{{ form.email.label }}</td>
        <td width="10px">
          {% if form.email.errors %}
            <span style="color: red;">!</span>
          {% else %}
            *
          {% endif %}
        </td>
        <td>{{ form.email }}</td>
      </tr>
        <td>
          {% url reglog.register.views.process_register as register %}
          <a href="{{ register }}">Not Registered?</a>
          <br />
          <a href="/login/login-form/">Login?</a>
          <br />
          <a href="/"><span style="color:#006600; font-size:1.8em;">home</span></a>
        </td>
        <td width="10px"></td>
        <td><input type="submit" id="submit" value="Send" /></td>
      </tr>
{% endblock %}
