<!DOCTYPE html>
<html>

<head>

  <meta http-equiv="Content-Type" content="text-html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <title>You Are Loged In</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>

<body>

<div id="header_li_lo_rs">
  <h2>You are Loged In</h2>
</div>
  <div id="main_li_lo_rs_div">
    <table id="li_lo_rs_table">
      <tr>
        <td>Great, You can now mess around!</td>
      </tr>
      <tr>
        <td>If you are interesting about how you look like click on this link.</td>
        <td><a href="{% url "login:portrait" %}">Your Portrait</a></td>
      </tr>
      <tr>
          <td><a href="{% url "login:logout" %}">Logout</a></td>
      </tr>
    </table>
  </div>

</body>

</html>
