{% extends 'form_base.html' %}

{% block title %}Change Current Password{% endblock %}


{% block focus %}
<script type="text/javascript">
  function focus_first_element() {
    document.getElementById('{{ form.gender.auto_id }}').focus();
  };
</script>
{% endblock %}

{% block header %}
<div id="header_{{ formname|lower }}">
  <h2>{{ formname }} Form</h2>
</div>
{% endblock %}

{% block form %}

      {% if form.errors %}
        <div class="error_div">
          {# {{ form.non_field_errors }} #}
          {% if form.old_password.errors %}
            {% if form.old_password.errors %}
              {{ form.old_password.errors }}
            {% endif %}
          {% endif %}
          {% if form.new_password.errors %}
            {% if form.new_password.errors %}
              {{ form.new_password.errors }}
            {% endif %}
          {% endif %}
          {% if form.confirm_new_password.errors %}
            {% if form.confirm_new_password.errors %}
              {{ form.confirm_new_password.errors }}
            {% endif %}
          {% endif %}
        </div>
      {% endif %}

      <tr>
        <td>{{ form.old_password.label }}</td>
        <td width="10px">
          {% if form.old_password.errors or form.non_field_errors %}
            <span class="error">!</span>
          {% else %}
            *
          {% endif %}
        <td>{{ form.old_password }}</td>
      </tr>

      <tr>
        <td>{{ form.new_password.label }}</td>
        <td width="10px">
          {% if form.new_password.errors or form.non_field_errors %}
            <span class="error">!</span>
          {% else %}
            *
          {% endif %}
        <td>{{ form.new_password }}</td>
      </tr>

      <tr>
        <td>{{ form.confirm_new_password.label }}</td>
        <td width="10px">
          {% if form.confirm_new_password.errors or form.non_field_errors %}
            <span class="error">!</span>
          {% else %}
            *
          {% endif %}
        <td>{{ form.confirm_new_password }}</td>
      </tr>

      <tr>
        <td> Already registered? <a href="/login/login-form/">Login</a></td>
        <td width="10px"></td>
        <td><input type="submit" id="submit" value="Register" /></td>
      </tr>
      <tr>
        <td><a href="/"><span style="color:#006600; font-size:1.8em;">home</span></a></td>
        <td width="10px"></td>
      </tr>
{% endblock %}
